.about-container {
  width: 65%;
  margin-bottom: 30px;
  background-color: var(--lightest);
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-container > h2 {
  font-size: 30px;
  margin: 10px 0 10px 0;
}

.about-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  text-decoration: overline;
  margin: 20px 0 40px 0;
}

.about-list {
  list-style: inside;
  line-height: 30px;
}

.about-list > li{
  margin-bottom: 10px;
}

.about-list-container {
  width: 80%;
}

.about-list-body-text {
  margin: 10px 0 40px 0;
  text-indent: 15px;
}

@media only screen and (max-width: 960px) {
  .about-container {
    width: 100%;
    padding: 5px;
  }
  .about-list-container {
    width: 90%;
  }
  .about-list-body-text {
    width: 90%;
  }
  .about-list {
    line-height: 20px;
  }
  .about-list > li {
    font-size: 15px;
  }
}
