.contact-form-container {
  width: 50%;
  /* background-color: rgba(78, 70, 48, 1); */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-label {
  font-size: 25px;
  color: white;
  width: 100%;
  text-align: start;
}

.contact-container {
  width: 65%;
  display: flex;
  background-color: rgba(78, 70, 48, 1);
}

.contact-text-container {
  width: 50%;
  /* background-color: rgba(78, 70, 48, 1); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;padding-top: 15px;
  font-size: 25px;
  color: white;
}

.contact-text-container > h3 {
  margin-bottom: 5px;
}

.contact-form-input {
  background-color: white;
  min-width: 300px;
  margin: 10px 0 20px 0;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.size3 {
  width: 60px;
}

.contact-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  text-decoration: overline;
  margin: 20px 0 40px 0;
  color: white;
}

.contact-form-submit {
  text-align: center;
  min-width: 200px;
  background-color: white;
  margin: 10px 0 20px 0;
}
@media only screen and (max-width: 960px) {
  .contact-form-container {
    width: 100%;
  }
  .contact-container {
    flex-direction: column;
    width: 90%;
  }
  .contact-text-container {
    width: 100%;
    margin-top: 15px;
  }
}
