.createPuppy-input {
  border: 1px solid black;
  margin: 5px 0 0 0;
  background-color: white;
  color: black;
  width: 80%;
  line-height: 16px;
}
.createPuppy-submit {
  width: 100%;
  color: #4e4630;
}
.createPuppy-form {
  /* border: 1px solid black; */
  background-color: #4e4630;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  width: 500px;
  color: white;
  z-index: 2;
}

.createPuppy-radio-input {
  background-color: white;
}

.createPuppy-form > label {
  margin-left: 10px;
  font-size: 16px;
}

.createPuppy-title {
  font-size: 25px;
  text-align: center;
}

.createPuppy-image-input {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-left: 40px;
}

.createPuppy-modal-container {
  background-color: rgba(128, 128, 128, 0.6);
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

@media only screen and (max-width: 760px) {
  .createPuppy-form {
    width: 300px;
  }

  .createPuppy-input {
    margin: 5px;
  }
}
