.gallery-container {
  width: 65%;
}

.gallery-container > h2 {
  font-size: 30px;
  margin: 10px 0 10px 0;
}

.gallery-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  text-decoration: overline;
  margin: 20px 0 40px 0;
}

@media only screen and (max-width: 960px) {
  .gallery-container {
    width: 90%;
  }
}
