.reviewCard-container {
  background-color: rgba(126, 127, 128, 0.4);
  max-width: 300px;
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

.reviewCard-title {
  font-size: 25px;
  text-align: center;
}

.reviewCard-name {
  text-align: center;
}

.reviewCard-rating {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviewCard-body {
  padding: 5px;
  text-indent: 20px;
}

.reviewCard-date {
  padding-left: 5px;
  font-size: 10px;
}

.italic {
  font-style: italic;
}
