.title-container {
  text-align: center;
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin: 133px 0 50px 0;
}

.title-text {
  font-size: 65px;
  font-family: "Tiro Devanagari Hindi", serif;
  color: #4e4630;
}
.title-subtext {
  font-size: 25px;
  margin-bottom: 30px;
}

.title-contact-button {
  width: 175px;
}

#dog-picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
  padding: 0;
  object-position: center;
}

.image-container {
  width: 100%;
  height: 600px;
  object-fit: cover;
  margin: 16px 0 0 0;
  padding: 0;
  border-radius: 10px;
}

@media only screen and (max-width: 960px) {
  .title-container {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .title-text {
    line-height: 60px;
    font-size: 75px;
    width: auto;
  }

  .title-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .title-subtext {
    font-size: 18px;
    width: 68%;
    text-align: center;
    display: flex;
  }
  .image-container {
    height: 300px;
  }
}
