.updates-title {
  text-decoration: overline;
  text-decoration-color: black;
  font-size: 26px;
  margin: 50px 0 50px 0;
  text-align: center;
}

.updates-container {
  width: 63%;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.updateCard-post-container {
  padding: 5px;
}

.updateCards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
@media only screen and (max-width: 960px) {
  .updates-container {
    width: 90%;
  }
}

@media only screen and (max-width: 760px) {
  .updates-container {
    width: 90%;
  }
  .updateCards-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
