.updateDetails-title {
  font-size: 26px;
  color: #623817;
}

.updateDetails-container {
  padding: 10px;
  width: 63%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: white;
  border-radius: 5px;
  height: auto;
}

.updateDetails-page-container {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  background-color: #bc9f7d;
}
.updateDetails-date {
  margin-left: 15px;
}

/* .colors{
    #623817
    #7A5137
    #A27246
    #BC9F7D
    #D5C5B4
} */

.updateDetails-paragraph {
  padding: 10px;
  text-indent: 15px;
  color: #a27246;
}

@media only screen and (max-width: 600px) {
  .updateDetails-container {
    width: 90%;
    height: auto;
  }
}
