.header {
  width: 100%;
  height: 7%;
  background-color: white;
  color: #4e4630;
  font-size: 300%;
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-row-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.header-title-menu-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

h1 {
  font-family: "Tiro Devanagari Hindi", serif;
}
