.title-container {
  text-align: center;
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin: 70px 0 50px 0;
}

.title-text {
  font-size: 65px;
  font-family: "Tiro Devanagari Hindi", serif;
  color: #4e4630;
}
.title-subtext {
  font-size: 25px;
  margin-bottom: 30px;
}

.title-contact-button {
  width: 175px;
}

#dog-picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
  padding: 0;
  object-position: top;
}

.image-container {
  width: 100%;
  height: 600px;
  object-fit: cover;
  margin: 16px 0 0 0;
  padding: 0;
  border-radius: 10px;
}
